# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS specific
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build
dist/
build/
.next/
scripts/
*.tfplan
testing/
infra/terraform/README.md
scripts/
testing/
infra/terraform/README.md
/cp-cohort10-group1/infra/terraform/shared/tfplan/
/cp-cohort10-group1/infra/terraform/environments/staging/tfplan/
infra/terraform/shared/tfplan
/home/rbsara/capstone/cp-cohort10-group1/scripts
# Backend configs
backend.hcl
backend-*.hcl
*.auto.tfvars
scripts/deploy-shared.sh
scripts/deploy-env.sh 
scripts/deploy-all.sh
infra/terraform/environments/prod/tfplan/
infra/terraform/environments/staging/tfplan/
infra/terraform/environments/dev/tfplan/
*.sh
!app/**/*.sh
infra/**/*.sh
testbranchrule.txt
autoscalingexec.txt
infra/terraform/session-manager-plugin.deb
docs/GITHUB_WORKFLOWS.md
infra/grafana-dashboards/setup-dashboard-env.sh
LICENSE
infra/grafana-dashboards/shopbot-autoscaling-dev.json
infra/grafana-dashboards/shopbot-autoscaling-staging.json
.gitignore
infra/grafana-dashboards/shopbot-autoscaling.json
infra/grafana-dashboards/Readme.md
